.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.home-link {
	color: #61dafb;
}

.options-link {
	color: #61dafb;
	position: absolute;
	top: 800px;
}

.UD-item {
	border: 4px solid black;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.restaurant-item,
.category-item {
	padding-left: 2%;
	padding-right: 2%;
	white-space: nowrap;
}

.userdefined {
	padding-left: 5%;
	padding-right: 5%;
	white-space: nowrap;
	position: absolute;
	left: 400px;
	top: 400px;
}

.user-entry {
	width: 400px;
	position: absolute;
	right: 400px;
	top: 400px;
}

.entry-label {
	width: 500px;
	position: absolute;
	right: 400px;
	top: 250px;
}

.UD-label {
	width: 500px;
	position: absolute;
	left: 400px;
	top: 250px;
}

.header {
	position: absolute;
	top: 50px;
}

.buttons {
	position: absolute;
	left: 550px;
	top: 800px;
	width: 800px;

}

.restaurant-item :hover, 
.category-item :hover,
.UD-item :hover {
	background-color: gray;
}

.restaurants {
	width: 1600px;
}